<!DOCTYPE html>
<html>
<head>
<%= csrf_meta_tags %>
<%= csp_meta_tag %>

<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'sidebar', "data-turbo-track": "reload" %>
</head>
<body>
  <div id="mainContent" class="main-content">

<h1>Tubes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Priority</th>
    </tr>
  </thead>
  <tbody>
    <% @tubes.each do |task| %>
      <tr>
        <td><%= tube.name %></td>
        <td><%= tube.description %></td>
        <td><%= tube.priority %></td>
      </tr>
    <% end %>
  </tbody>
</table>  

  </div>
</body>
</html>
