<!DOCTYPE html>
<html>
  <head>
    <title>Taski</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag 'sidebar', 'data-turbolinks-track': 'reload' %>
    <%= javascript_importmap_tags %>
    
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
      <div id="sidebarContainer" class="sidebar-container">
  <aside id="sidebar" class="sidebar">
    <button id="toggleButton" class="sidebar-toggle" href="javascript:void(0)">00</button>
    <h2>About Us</h2>
    <p>This is some information about our company.</p>
  </aside>
  </div>
    <%= yield %>
  </body>
</html>
