<!DOCTYPE html>
<html>
  <head>
    <title>Taski</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag 'sidebar', 'data-turbolinks-track': 'reload' %>
    <%= javascript_importmap_tags "application" %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <aside id="sidebar" class="sidebar">

      <i class="fa-solid fa-list" style="color: #707070;">
        <button id="toggleButton" class="sidebar-toggle" href="javascript:void(0)">
          <%= inline_svg 'list-solid.svg' %>
        </button>
      </i>

      <div id="sidebar-content" class="sidebar-content">
        <% if user_signed_in? %>
          <div class="user-profile">
            <img src="http://www.gravatar.com/avatar/#{Digest::MD5.hexdigest(current_user.email.downcase)}?s=50" alt="User avatar">
            <h3><%= current_user.email %></h3>
            <%= form_for(current_user, url: destroy_user_session_path, method: :delete, html: { class: 'mt-2' }) do |f| %>
              <%= f.submit 'Logout', class: 'btn btn-danger' %>
          </div>
        <% end %>
          <%= link_to 'Tasks', tasks_path, class: 'btn btn-success' %>
        <% else %>
          <%= link_to 'Login!', new_user_session_path, class: 'btn btn-success', id: 'login-button' %>
          <%= link_to 'Signup!', new_user_registration_path, class: 'btn btn-success', id: 'logout-button' %>
            <h2>sidebar content</h2>
            <p>This is some content for the sidebar</p>
          <% end %>
      </div>
    </aside>

  <%= yield %>

  </body>
</html>
