<!DOCTYPE html>
<html>
  <head>
    <title>Taski</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag 'sidebar', 'data-turbolinks-track': 'reload' %>
    <%= javascript_importmap_tags "application" %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

      <aside id="sidebar" class="sidebar">
        <button id="toggleButton" class="sidebar-toggle" href="javascript:void(0)">00</button>

        <% if user_signed_in? %>
          <%= form_for(current_user, url: destroy_user_session_path, method: :delete) do |f| %>
          <%= f.submit 'Logout' %>
        <% end %>
        <% else %>
          <%= link_to 'Login!', new_user_session_path %>
          <%= link_to 'Signup!', new_user_registration_path %>
        <% end %>

        <h2>About Us</h2>
        <p>This is some information about our company.</p>
      </aside>
  <%= yield %>
  </body>

</html>
